In [10]:
import pandas as pd
import numpy as np

data = np.genfromtxt("HousingPrices.csv", delimiter=";")

In [13]:
data = pd.DataFrame(data)

In [17]:
data.dropna()

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]
Index: []

[0 rows x 91 columns]

In [16]:
data

,0,1,2,3,4,5,6,7,8,9,...,81,82,83,84,85,86,87,88,89,90
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3.600026e+08,2585.0,0.0,360.0,4953.0,NaN,10.0,NaN,120.0,120.0,...,21.54,36.81,5425.42,5778.04,5854.45,5551.78,5852.82,5980.20,1050000.0,NaN
2,6.152931e+08,293071.0,0.0,615.0,8751.0,NaN,10.0,NaN,NaN,NaN,...,19.31,22.57,887.08,2542.69,5754.62,1114.38,2760.41,2769.31,450000.0,NaN
3,8.600380e+08,38009.0,0.0,860.0,9870.0,NaN,10.0,NaN,NaN,NaN,...,28.53,30.18,1294.14,1294.14,2137.98,861.44,929.94,1058.68,176790.0,NaN
4,1.010000e+09,2.0,241700.0,101.0,2300.0,NaN,10.0,90.0,140.0,140.0,...,28.23,36.60,1045.23,1383.67,1443.80,132.97,323.57,538.37,1352500.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49285,8.600039e+09,38527.0,0.0,860.0,9800.0,NaN,10.0,NaN,510.0,510.0,...,31.89,37.86,3790.16,5758.68,9378.36,839.98,1081.58,2798.10,2150000.0,NaN
49286,8.600039e+09,38952.0,0.0,860.0,9800.0,NaN,10.0,NaN,NaN,NaN,...,17.82,24.03,537.40,537.40,537.40,402.35,565.21,628.33,860000.0,NaN
49287,8.600039e+09,38954.0,0.0,860.0,9800.0,NaN,10.0,NaN,120.0,120.0,...,18.70,33.61,542.46,542.46,542.46,355.13,512.37,621.07,2550000.0,NaN
49288,8.600039e+09,39226.0,18001.0,860.0,9800.0,NaN,10.0,40.0,140.0,140.0,...,30.15,28.24,740.54,892.16,1061.93,118.15,242.37,242.82,1950000.0,NaN
49289,8.600039e+09,39303.0,18656.0,860.0,9800.0,NaN,30.0,40.0,140.0,320.0,...,30.57,37.30,612.64,813.77,1090.88,96.73,154.54,165.35,3950000.0,NaN